<?xml version="1.0" encoding="utf-8" ?>

<configuration>

  <system.web>
    <compilation debug="true" />
  </system.web>
  
  <system.serviceModel>
    
    <services>
      <service name="WcfServiceCalculator.Library.ServiceCalculator">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8732/WcfServiceCalculatorLibrary/ServiceCalculator/" />
          </baseAddresses>
        </host>
        <endpoint address="localhost" binding="wsHttpBinding"
         contract="WcfServiceCalculator.Library.IServiceCalculator" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    
  </system.serviceModel>

</configuration>
