body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
  color: #00B7FF

body
  padding-top 80px
  .navbar-brand
    font-family mistral
    font-size 28px

#logo-title
  font-family mistral
  color #FF3399


.navbar-right .navbar-form
  input
    margin-right 10px
  a.btn
    margin-left 10px

.toast-top-right
  top 70px

input.ng-dirty.ng-invalid
  background-color pink !important

input.ng-dirty.ng-valid.validity
  background-color darkseagreen !important

footer
  padding-left 120px
  padding-right 120px