* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

body {
    text-align: center;
    background-color: #AECE8B;
    font-family: Consolas;
}

#wrapper {
    position: relative;
    width: 800px;
    margin: 0 auto;
}

#score {
    padding-left: 25px;
    text-align: left;
    font-size: 40px;
}


#the-canvas {
    border: 2px solid #3C4830;
    background-color: #8EB367;
}

