@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <h3>Add two numbers: </h3>
        @using (Html.BeginForm("SumOfNumber", "Home"))
        {
            @Html.TextBox("firstNumber")
            <p> + </p>
            @Html.TextBox("secondNumber")
            <br/>
            <input type="submit" value="Sum" />
        }
        <label>Result:  @ViewBag.Result</label>
    </div>
</div>