<div class="navbar navbar-static-top navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Brand</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li>
          <a href="#/todos">TODOs</a>
        </li>
        <li>
          <a href="#/add-todo">Add todo</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<aside id="widget-left"></aside>

<div class="container" id="view">

  
</div>

<footer>
  <h2>Telerik Academy - SPA apps with KendoUI</h2>
  <p class="copyright">Telerik Academy &copy;</p>
</footer>







