<?xml version="1.0"?>

<configuration>
  
  <system.serviceModel>
    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="false"
     multipleSiteBindingsEnabled="true"/>
    
    <services>
      <service name="WcfServiceCalculator.Web.ServiceCalculator"
       behaviorConfiguration="ServiceCalculatorBehavior">
        <endpoint address="localhost" binding="wsHttpBinding"
         contract="WcfServiceCalculator.Web.IServiceCalculator">
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceCalculatorBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    
  </system.serviceModel>
  
  <system.web>
    <compilation debug="true"/>
  </system.web>
  
</configuration>
