input.ng-dirty.ng-invalid {
    background-color: pink !important;
}

input.ng-dirty.ng-valid.validity {
    background-color: darkseagreen !important;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none !important;
}

.vertical-content {
    float: none;
    display: inline-block;
    vertical-align: middle;
    margin-right: -4px;
}

.big-text {
    font-size: 2em;
}

.menu {
    list-style: none;
    border-bottom: 0.1em solid black;
    margin-bottom: 2em;
    padding: 0 0 0.5em;
}

.toast-top-right {
    top: 70px;
}

.menu:before {
    content: "[";
}

.menu:after {
    content: "]";
}

.menu > li {
    display: inline;
}

.menu > li:before {
    content: "|";
    padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
    content: "";
    padding: 0;
}

.image-container img {
    width: 100%;
    height: 100%;
}

.form-login, .form-register {
    max-width: 550px;
    margin: 0 auto;
    margin-top: 15px;
}

.form-login .form-control, .form-register .form-control {

    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
}

.form-login .form-control:focus {
    z-index: 2;
}

.login-button .register-button{
    padding: 12px 18px;
}