<div class="form-chat" role="form">
    <div clas="menu">
        <h4 class="pull-left title">Welcome, <strong class="username-box"></strong>!</h4>

        <p class="pull-right exit">
            <button class="btn btn-danger" type="button" id="exit-btn" class="btn">Sign out</button>
        </p>
    </div>
    <div class="chat-box" id="chat-box">

    </div>
    <div class="input-group">
        <span class="control-group">
            <input type="text" class="form-control user-msg" id="user-msg" name="user-msg" autofocus required/>
        </span>
      <span class="input-group-btn">
        <button class="btn btn-primary" id="send-msg-btn">Send</button>
      </span>
    </div>
</div>