<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
        <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <connectionStrings>
        <add name="CarsFactory" connectionString="Data Source=.;Initial Catalog=CarsFactory;Integrated Security=True" providerName="System.Data.SqlClient" />
        <!--<add name="CarsFactory" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=CarsFactory;Integrated Security=True" providerName="System.Data.SqlClient" />-->
        <!--<add name="CarsFactoryMongo" connectionString="mongodb://griffin:telerik@ds063909.mongolab.com:63909/carsfactory" />-->
        <add name="CarsFactoryMongo" connectionString="mongodb://localhost" />
        <add name="CarsFactoryDB" connectionString="server=localhost;user id=root;password=password;persistsecurityinfo=True;database=CarsFactoryDB" providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <entityFramework>
        <providers>
            <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
        </providers>
    </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EPPlus" publicKeyToken="ea159fdaa78159a1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.2.0" newVersion="3.1.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>