doctype html
html
    head
        title File Exchange
        link(href="img/favicon.ico" rel="shortcut icon" type="image/x-icon")
        link(rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css")
        //link(rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap-theme.min.css")
        link(rel="stylesheet" href="/lib/toastr/toastr.min.css")
        link(rel="stylesheet" href="/lib/font-awesome/css/font-awesome.min.css")
        link(rel="stylesheet" href="/css/app.css")
    body(ng-app="app")
        block main-content
        include scripts
        include currentUser