.container
    .jumbotron
        #logo-title.h1 Exam Todos
        h2 Follow you steps to success
        p Съжалявам, но не можах да завърша приложението, тъй като го започнах прекалена късно в събота. Започнах го
            | по-голямо от колкото трябваше защото смятах да го използвам за шаблон на изпита.
        p Когато го завърша (може
            | да се е случило в момента когато го проверяваш, ще го кача в github може да видиш на линка в footer-a.
        p  Регистрацията, логин и update и logout на user-a работят