body, h1, p, ul, li 
{
	margin: 0;
	padding: 0;
}

body
{
	background-color: #A9A9A9
}

body > footer
{
	text-align: center;
	padding: 10px;
}

body > header h1 {
	color: white;
	text-align: center;
	font-size: 2.7em;
}

header nav
{
	text-align: center;
}
nav li a {
    font-size: 1.1em;
    font-weight: bold;
    color: white;
	text-decoration: none;
    list-style-type: none;
}

.current {
    background-color: #D3D3D3;
}

nav li a:hover {
    background-color: #BCBCBC;
}

nav li:last-child a {
    text-decoration: underline;
}

article 
{
	padding-left: 5px;
}
article header h1
{
	color: white;
	font-size: 1.8em;
	padding-bottom: 15px;
	padding-top: 15px;
}

article p {
    text-align: justify;
    font-size: 1.1em;
	padding: 5px;
}

article footer
{
	font-size: 0.8em;
}
article footer a
{
	text-decoration: none;
	color: black;
}