<div id="form-post" role="form">
    <!--<div clas="menu">-->
    <!--<h4 class="pull-left title">Welcome, <strong class="username-box">Guest</strong>!</h4>-->

    <!--<p class="pull-right exit">-->
    <!--<button class="btn btn-danger" type="button" id="exit-btn" class="btn">Sign out</button>-->
    <!--</p>-->
    <!--</div>-->
    <div class="post-box" id="post-box">

    </div>

    <div class="">
        <span class="">
            <input type="text" class="form-control" id="user-post-title" name="user-post" placeholder="Post Title"
                   autofocus required/>
            <textarea class="form-control" id="user-post-body" placeholder="Body of post"></textarea>
        </span>

        <div class="input-btn">
            <button class="btn btn-primary" id="send-post-btn">Send</button>
        </div>
    </div>
</div>